.capacalendario{
	width: 219px;
	position: absolute;
	display: none;
	background-color: #f2f2f2;
}
.capacalendarioborde{
	padding: 3px;
	border: 1px solid #999;
}
.diassemana{
	overflow: hidden;
	background: #ddd;
	margin: 0;
	clear: both;
}
.diasmes{
	overflow: hidden;

}
.diassemana span, .diasmes span{
	margin: 3px;
	width: 25px;
	display: block;
	float: left;
	text-align: center;
	height: 1.5em;
	line-height: 1.5em;
	font-size: 0.875em;
}
.diassemana span{
	text-transform: uppercase;
	color: #666;
	font-weight: bold;
	height: 1.8em;
	line-height: 1.8em;
}
.diasmes span{
	background: #ddd;
	cursor: pointer;
	color: #666;
}
.diasmes span.diainvalido{
	background: #f2f2f2;
	cursor: default;
}
.diasmes span.domingo{
	color: #D95B43;
}
.capacalendario span.primero{
	margin-left:0 !important;
}
.capacalendario span.ultimo{
	margin-right:0 !important;
}
a.botoncal span{
	display: inline-table;
	width: 16px;
	height: 16px;
}
a.botonmessiguiente{
	float: right;
	background: transparent url(105.png) no-repeat;
	margin: 5px 5px 0 5px;
}
a.botonmessiguiente span, a.botonmesanterior span, a.botoncambiaano span{
	display: inline-table;
	width: 10px;
	height: 10px;
}
a.botonmesanterior{
	float: left;
	background: transparent url(106.png) no-repeat;
	margin: 5px 5px 0 5px;
}
a.botoncambiaano{
	background: transparent url(193.png) no-repeat;
	margin: 5px 5px 0 5px;
	font-size: 0.8em;
}
.textomesano{
	background-color: #ddd;
	overflow: hidden;
	padding: 4px 2px;
	font-size: 0.8em;
	font-weight: bold;
	text-align: center;
	color: #666;
}
.mesyano{
	margin-top: 3px;
}
.visualmesano{
	display: inline;
}
.capacerrar{
	overflow: hidden;
	font-size: 0.5em;
	padding-bottom: 2px;
}
a.calencerrar{
	float: right;
	background: transparent url(101.png) no-repeat;
	margin: 2px 5px 0 5px;
}
a.calencerrar span{
	display: inline-table;
	width: 10px;
	height: 10px;
}
.capaselanos{
	width: 50px;
	display: none;
	font-size: 0.8em;
	text-align: center;
	position: absolute;
	background-color: #fff;
	border: 1px solid #ddd;
}
.capaselanos a{
	display: block;
	text-decoration: none;
	border-bottom: 1px solid #ddd;
	padding: 1px 0;
	font-size: 0.9em;
}
.capaselanos a.seleccionado{
	background-color: #eef;
	font-weight: bold;
}
.capaselanos a.ultimo{
	border: 0;
}
