body
{
	line-height: 2.5em;
}
#rounded-corner
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 11px;
	--margin: 1px;
	width: 1300px;
    height: 1px;
	border: 2px solid;
	text-align: left;
	border-collapse: colapso ; 
	
}
#rounded-corner thead th.rounded-company
{
	background: #3898ff url('table-images/left.png') left -1px no-repeat;
}
#rounded-corner thead th.rounded-q4
{
	background: #3898ff url('table-images/right.png') right -1px no-repeat;
}
#rounded-corner th
{
	--padding: 1px;
	font-weight: normal;
	font-size: 11px;
	color: #f0f3f5;
	background: #3898ff;
}
#rounded-corner td
{
	padding: 3px;
	background: #cdebfc;
	border-top: 1px solid #fff;
	color: #000000;
}
#rounded-corner tfoot td.rounded-foot-left
{
	background: #e8edff url('table-images/botleft.png') left bottom no-repeat;
}
#rounded-corner tfoot td.rounded-foot-right
{
	background: #e8edff url('table-images/botright.png') right bottom no-repeat;
}
#rounded-corner tbody tr:hover td
{
	background: #7d8399;
}