@charset "utf-8";
*{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	padding:0;
	margin:0;
	text-transform:uppercase;
}
a{
	text-decoration:none;
}
img{
	border:none;
}
#contenedor{
	width:1600px;
	margin:5px;
	margin-top:20px;
	border:2px solid #C0C0C0;
	background-color:#f1f1f1;
	padding-bottom:20px;
}
small{
	font-size:7px;
}

table{
	width:700px;
	margin:auto;
}
td{
	border-bottom:1px solid #D3D3D3;
	padding:5px 0px 5px;
}

th{
	background-color:#CDCDCD;
	padding:5px 0px 5px;
}

form{
	border:2px solid #C0C0C0;
	background-color:#F2F2F2;
	width:500px;
	margin:20px;
	margin-bottom:20px;
}

form p{
	margin:auto;
	width:450px;
	margin-top:5px;
	margin-bottom:3px;
}
form input{
	border:1px solid #CCCCCC;
	padding:3px;
}

form .text{
	width:400px;
}