*{margin:0;}

body{
   background:#F2F2F2;
   color:#084B8A;
   font-size:11px;
   font-family:Arial;
 
}
#contenido{
   background:#fff;
   margin:30px auto;
   overflow:hidden;
   padding:15px ;
 border:1px solid #2E9AFE;
   width:96%;
   -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
input, select{
   background:#fff;
   border:1px solid #2E9AFE;
   padding:5px;
}
header{
   background:#1C4583;
   color:#fff;
   padding:5px;
   text-align: center
}

footer{
    background:#1C4583;
   color:#fff;
   padding:5px;
   text-align: center

}
footer a{
    color:#FF8000;
    text-decoration: none;
}
footer a:hover{
    color:#F2F5A9;

}