table.dataTable tr td:first-child {
        text-align: center;
    }
 
    table.dataTable tr td:first-child:before {
        content: "\f096"; /* fa-square-o */
        font-family: FontAwesome;
    }
 
    table.dataTable tr.selected td:first-child:before {
        content: "\f046"; /* fa-check-square-o */
    }
 
    table.dataTable tr td.dataTables_empty:first-child:before {
        content: "";
    }